@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    overflow: hidden;
    background: url(/img/bg.jpg);
    background-size: cover;
    color: white;
}

.container  {
    height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 100px 0px;
    margin-top: 180px;
    font-family: 'Abel', sans-serif;
    background-color: rgba(000, 000, 000, 0.06);
    font-size: 22px;

}

.ship-parameters {
    display: inline-block;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.1);

}

.ship-eviroment {
    display: inline-block;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    


}

.ship-supplies {
    display: inline-block;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 45px;


}

.headline   {

    text-align: center;
    align-items: center;
    color: #fff;
    margin-top: 100px;
    font-family: 'Cairo', sans-serif;

}

