@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    overflow: hidden;
    background: url(/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

body p {
    font-weight: 1000;
}

.container  {
    height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 100px 0px;
    margin-top: 180px;
    font-family: 'Abel', sans-serif;
    background-color: rgba(255, 255, 255, 0.07);
    font-size: 23px;

}

.ship-parameters {
    display: inline-block;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.13);
    margin-bottom: 50px;


}

.ship-eviroment {
    display: inline-block;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.13);    


}

.ship-supplies {
    display: inline-block;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.13);



}

.headline   {

    text-align: center;
    align-items: center;
    color: #fff;
    margin-top: 100px;
    font-family: 'Cairo', sans-serif;
    font-size: 35px;

}

.water-ship {
    margin-left: 80px;
}
.food-ship {
    margin-left: 50px;
}
.fuel-ship  {
    margin-left: 30px;
}


